DATABASE_URL=jdbc:postgresql://<host>/<db>?sslmode=require
DATABASE_USERNAME=<username>
DATABASE_PASSWORD=<password>
DATABASE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

JWT_SECRET=<a-long-random-secret>
